<% include ../layouts/header %>

                        <p style="margin-top:20px;">Hi <%=name%>,</p>
                        <p>Reset your password by entering the code below in your OnCamp app./n (in small text) Please ignore this email if you didn’t request to change your password.</p>
                      </td>

 <% include ../layouts/footer %>
