<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email from oncamp</title>
  </head>
  <body class="">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
<table role="presentation" class="main">
<tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr style="margin-bottom:5px;">
                                                    <td style="border-bottom:2px solid #000;">
                                                    <img src="<%=logo%>" style="width:10%" alt="OnCamp Support">
                                                    <h1 style="float:right;margin-bottom:10px;"><strong>OnCamp</strong></h1>
                                                                                   </td>
                                                    </tr>
                    <tr>
                      <td>
