<% include ../layouts/header %>

                        <p style="margin-top:20px;">Hi <%=name%>,</p>
                        <p>Verify your email address by entering the code below in your OnCamp app.</p>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="javascript:void(0)"><%=code%></a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>

 <% include ../layouts/footer %>
